<mat-toolbar color="warn" class="header">
  <mat-toolbar-row>
    <a routerLink="/">
      <h1 class="mat-display-4" style="font-size: 36px;">Divinr</h1>
    </a>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="grid-container">
    <a routerLink="/quick-read">
      <button mat-flat-button color="primary">Quick Card</button>
    </a>
    <a routerLink="/elemental">
      <button mat-flat-button color="primary">Elemental Reading</button>
    </a>
    <a routerLink="/astrological">
      <button mat-flat-button color="primary">
        Astrology Reading
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
