/* You can add global styles to this file, and also import other style files */
@import './divinr-theme.scss';
html,
body {
  height: 100%;
  background-color: #29b6f6;
}
body {
  margin: 0;
}

p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 17px;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
