@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nanum+Pen+Script&display=swap');


// *********** TYPOGRAPHY CONFIG ***********************************

// font-family: 'Major Mono Display', monospace;
// font-family: 'Nanum Pen Script', cursive;

$custom-typography: mat-typography-config(
  $font-family: 'Major Mono Display, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
//  **/TYPOGRAPHY******
@include mat-core($custom-typography);

// Define palettes for theme using Material Design palettes (palette.scss).
// For each palette, you can optionally specify a default, lighter, and darker hue. 
// Available color palettes: https://material.io/design/color/

$divinr-app-primary: mat-palette($mat-yellow, A200, A100, A400);
$divinr-app-accent:  mat-palette($mat-light-blue, 400, 300, 600);
$divinr-app-warn:    mat-palette($mat-red);

$divinr-app-theme: mat-light-theme($divinr-app-primary, $divinr-app-accent, $divinr-app-warn);

// Default theme
@include angular-material-theme($divinr-app-theme);

@mixin card-theme($divinr-app-theme) {
  $primary: map-get($map: $divinr-app-theme, $key: primary);
  $accent: map-get($map: $divinr-app-theme, $key: accent);

  .dashboard-card {
    background-color: mat-color($primary);
    border-color: mat-color($accent);
  }

}

